<ion-header [translucent]="true">
  <ion-toolbar >
<ion-buttons slot="start">
  <ion-back-button defaultHref="/home"></ion-back-button>
</ion-buttons>
    <div class="background-shapes">
      <div class="shape shape-1"></div>
      <div class="shape shape-2"></div>
      <div class="shape shape-3"></div>
      <div class="shape shape-4"></div> 
      
    </div>
    <ion-title>Onduty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding onduty-form-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Onduty Application</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #onduttyForm="ngForm">

    <!-- Employee Code -->
    <ion-item>
      <ion-label position="stacked">Employee Code</ion-label>
      <ion-input [(ngModel)]="formData.name" name="name" placeholder="EGR998" required></ion-input>
    </ion-item>

    <!-- Name -->
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="formData.nameSecond" name="nameSecond" placeholder="ARAVIND G" required></ion-input>
    </ion-item>

    <!-- Date -->
    <ion-item lines="none">
      <ion-label position="stacked">Date</ion-label>
      <ion-datetime-button datetime="ondutyDate"></ion-datetime-button>
      <ion-modal keepContentsMounted="true">
        <ng-template>
          <ion-datetime
            id="ondutyDate"
            presentation="date"
            [(ngModel)]="formData.date"
            name="date">
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <!-- Destination -->
    <ion-item>
      <ion-label position="stacked">Destination</ion-label>
      <ion-input [(ngModel)]="formData.destination" name="destination"></ion-input>
    </ion-item>

    <!-- Person to Meet -->
    <ion-item>
      <ion-label position="stacked">Person to Meet</ion-label>
      <ion-input [(ngModel)]="formData.personToMeet" name="personToMeet"></ion-input>
    </ion-item>

    <!-- Contact Number -->
    <ion-item>
      <ion-label position="stacked">Contact Number</ion-label>
      <ion-input [(ngModel)]="formData.contactNumber" name="contactNumber" type="tel"></ion-input>
    </ion-item>

    <!-- Instructed By -->
    <ion-item>
      <ion-label position="stacked">Instructed By</ion-label>
      <ion-input [(ngModel)]="formData.instructedBy" name="instructedBy"></ion-input>
    </ion-item>

    <!-- Expected Time -->
    <ion-item>
      <ion-label position="stacked">Expected Time</ion-label>
      <ion-input [(ngModel)]="formData.expectedTime" name="expectedTime" placeholder="e.g. 4:00 PM"></ion-input>
    </ion-item>

    <!-- Start Time -->
    <ion-item lines="none">
      <ion-label position="stacked">Start Time</ion-label>
      <ion-datetime-button datetime="startTime"></ion-datetime-button>
      <ion-modal keepContentsMounted="true">
        <ng-template>
          <ion-datetime
            id="startTime"
            presentation="time"
            [(ngModel)]="formData.startTime"
            name="startTime">
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <!-- End Time -->
    <ion-item lines="none">
      <ion-label position="stacked">End Time</ion-label>
      <ion-datetime-button datetime="endTime"></ion-datetime-button>
      <ion-modal keepContentsMounted="true">
        <ng-template>
          <ion-datetime
            id="endTime"
            presentation="time"
            [(ngModel)]="formData.endTime"
            name="endTime">
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <!-- Type of Destination -->
    <ion-item>
      <ion-label position="stacked">Type of Destination</ion-label>
      <ion-select [(ngModel)]="formData.destinationType" name="destinationType" placeholder="Office">
        <ion-select-option value="Office">Office</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Office Destination -->
    <ion-item>
      <ion-label position="stacked">Destination (If Office)</ion-label>
      <ion-select [(ngModel)]="formData.officeDestination" name="officeDestination" placeholder="Select">
        <ion-select-option value="Madurai">Madurai</ion-select-option>
        <ion-select-option value="Egmore">Egmore</ion-select-option>
        <ion-select-option value="Whites Road">Whites Road</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Night Duty -->
    <ion-item>
      <ion-label position="stacked">Night Duty</ion-label>
      <ion-radio-group [(ngModel)]="formData.nightDuty" name="nightDuty">
        <ion-item lines="none">
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="yes"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="no"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>

    <!-- Purpose -->
    <ion-item>
      <ion-label position="stacked">Purpose to Visit</ion-label>
      <ion-textarea [(ngModel)]="formData.purposeToVisit" name="purposeToVisit" rows="3"></ion-textarea>
    </ion-item>

    <!-- Approver -->
    <ion-item>
      <ion-label position="stacked">Approver Name</ion-label>
      <ion-input [(ngModel)]="formData.approverName" name="approverName" value="CHETTIAPPAN .V"></ion-input>
    </ion-item>

    <!-- Submit -->
    <ion-button expand="block" class="submit-button">Submit</ion-button>
  </form>
</ion-content>
